body{font-family:Arial, Helvetica, sans-serif;overflow:auto;}

header{background:url("./images/fondo1.jpg");background-repeat:no-repeat;background-size: 1500px 500px;
    padding:10px;}

h1{text-align:center;color:#ffffff;font-size:220%;}

nav a {display:inline-block;width:21%;margin-top:3%;margin-bottom:2%;margin-left:5%;margin-right:5%;padding:1%;border-radius:10px;
    text-decoration:none;background-color:rgba(218, 209, 209, 0.562);text-align:center;color:#000;font-weight:bold;}

.active{background-color:rgba(235, 227, 227, 0.938);}

footer{color:#ffffff;background:url("./images/fondo1.jpg");background-repeat:no-repeat;background-size: 1500px 500px;
    position:relative;bottom:1%;padding:0.5%;}

footer a {font-size:small;display:inline-block;width:15%;margin-bottom:1%;padding:0%;
    text-align:center;color:#000;color:#ffffff;}

footer h4{color:rgb(255, 255, 255);margin-top:1%;}
  
section{padding-bottom:0.3%;padding-top:0.3%;padding-left:1.5%;padding-right:1.5%;text-align:justify;}

table{line-height:125%;width:70%;margin:0 auto;}
table th{color:#fff;background:rgb(27, 19, 95);font-size:85%;border-radius:5px;padding:0.5%;
    box-sizing:border-box;border-color:transparent;}
table tr{opacity:.8;text-align:left;transition-property:opacity;}
table tr:hover{opacity:1.5;}
table td{padding:0.8%;color:#000;font-size:80%;border-bottom: 1px solid rgb(128, 124, 124);}

h2{text-align:center;color:rgb(27, 19, 95);font-size:130%;text-decoration:underline;margin:2%;}

ul{margin-bottom:2%;margin-top:2%;}
li{margin:-1%;}

h4{margin-top:3%;color:rgb(27, 19, 95);}
h3{color:rgb(27, 19, 95);}

.aligncenter {text-align: center;}